.env
venv/
password.txt
myapp/__pycache__/
myapp/migrations/
enterainmentdjango/__pycache__/
api.json
db.sqlite3
*.pyc
__pycache__/
trending.json
openapi.json
tmdbapi.json
openlibraryapi.json
openlibraryapidocumention.md
anilist.txt
Queryrefence.htm
infopage.json