.env
venv/
password.txt
enterainmentdjango/__pycache__/
enterainmentdjango/migrations/
api.json
db.sqlite3
*.pyc
__pycache__/
trending.json
openapi.json
tmdbapi.json
openlibraryapi.json
openlibraryapidocumention.md
anilist.txt
Queryrefence.htm
infopage.json
db.sqlite3