{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>{{ movie.title }} ({{ movie.release_date|slice:":4" }})</h1>
        <nav>
            <ul>
                <li><a href="{% url 'main_page' %}">Home</a></li>
                <li><a href="{% url 'shows' %}">Back to Shows</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="movie-detail-card">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster" class="movie-poster">
            <div class="movie-info">
                <p><strong>Overview:</strong> {{ movie.overview }}</p>
                <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                <p><strong>Rating:</strong> {{ movie.vote_average }}/10</p>
                <button>Add to Watchlist</button>
            </div>
        </div>
    </main>
</body>
</html>