{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Popular Shows</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Shows</h1>
        <nav>
            <ul>
                <li><a href="{% url 'account' %}">Create Account / Login</a></li>
                <li><a href="{% url 'books' %}">Books</a></li>
                <li><a href="{% url 'shows' %}">Shows</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="searchbar">
            <form method="GET" action="{% url 'shows' %}">
                <input type="text" name="query" placeholder="Search for shows..." value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="shows-container">
            <h1>{% if query %}Search Results{% else %}Popular Shows{% endif %}</h1>
            <p>{% if query %}Results for "{{ query }}"{% else %}Discover the latest and most popular shows to watch.{% endif %}</p>
            <div class="movie-list">
                {% for movie in movies %}
                    <div class="movie-item">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
                        <h2>{{ movie.title }} ({{ movie.release_date|slice:":4" }})</h2>
                        <div class="movie-buttons">
                            <button class="btn">Add to Watchlist</button>
                            <a href="{% url 'movie_detail' movie.id %}" class="btn">More info</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>